li {
    list-style: none;
}

li a {
    color: #00A1AB;
}

h1 {
    color: #00A1AB;
}

h2 {
    color: #00A1AB;
}

h3 {
    color: #00A1AB;
}

body {
    color: #ffffff;
    background: #2C394B;
}

a {
    text-decoration: none;
    color: #ffffff;
}
/* navbar*/
.nav-link{
    margin: 0px 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px
}
.nav-link:hover{
    color: #00A1AB
}
.active{
    color: #00A1AB
}
/* navbar end */
/* shop */
.filter{
    width: 223px;
    height: 547px;
    background: #FFFFFF;
}
.cardlist{
    margin: 0px 20px;
}
/* shop end */
.box {
    height: 251px;
    background: #00A1AB;
}

.bottom {
    background: #00A1AB;
}

.bottom .col-sm-3 li a {
    color: rgba(255, 255, 255, 0.7);
}

.col-sm-4 {
    border: olive;
}
.card{
    width: 184px;
    height: 261px;
}
.card body {
    color: antiquewhite;
}

.cardtxt {
    align-content: center;
    width: 192px;
    height: 242px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 6rem;
    padding: 3rem 1rem;
}
/*login*/
.loginbox{
    align-items: center;
    display: flex;
}
.loginbox form{
    
    max-width: 320px;
    width: 90%;
    
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00A1AB; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }